{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Tienda Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Encabezado de la Tienda</h1>
    </header>

    <main>
        {% block content %}
            {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Tienda Django</p>
    </footer>
</body>
</html>